@(genres: List[Genre])

@main("Genres") {

<style>
    div{float:left; width:1290px; height:1000px; margin:4px; color:#FFF; font-size:30px; padding:20px;}
    div.gradient1{
    background: #999;
    background: -webkit-linear-gradient(turquoise, #000);
    background: -moz-linear-gradient(turquoise, #000);
    background: -ms-linear-gradient(turquoise, #000);
    background: -o-linear-gradient(turquoise, #000);
    background: linear-gradient(turquoise, #000);
    }
</style>

<div class="gradient1">
    <center>
    <form action="@routes.Genres.create()" method="post">
        <input type="text" name="name">
        <button>Submit</button>
    </form>

    @if(genres.isEmpty()) {
        <h2>No genres available</h2>
    } else {
        <h2>Tool Types</h2>
        <ul>
            @for(g <- genres) {
                <button>@g.name</button>
            }
        </ul>
        </center>
    </div>

    }
}