@(movies: List[Movie], genres: List[Genre])

@main("Movies") {

<style>
    div{float:left; width:1290px; height:1000px; margin:4px; color:#FFF; font-size:30px; padding:20px;}
    div.gradient1{
    background: #999;
    background: -webkit-linear-gradient(turquoise, #000);
    background: -moz-linear-gradient(turquoise, #000);
    background: -ms-linear-gradient(turquoise, #000);
    background: -o-linear-gradient(turquoise, #000);
    background: linear-gradient(turquoise, #000);
    }
</style>

<div class="gradient1">

<form action="@routes.Movies.create()" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <br>

    <label for="summary">Summary</label>
    <input type="text" name="summary">
    <br>

    <label for="url">URL</label>
    <input type="text" name="url">
    <br>

    <label for="genre_id">Genre</label>
    <select name="genre_id" id="genre">
        @for(g <- genres) {
            <option value="@g.id">@g.name</option>
        }
    </select>
    <br>
    <button>Submit</button>
</form>

@if(movies.isEmpty()) {
<h2>No movies available</h2>
} else {
<h2>Movie List</h2>
<ul>
    @for(m <- movies) {
    <li>@m.title</li>
    }
</ul>
    </div>
}
}